body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: green;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img{
    width: 100%;
}
.header{
    margin-left: 40%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
section{
    height: 660px;
    border: 1px solid red;
    padding-bottom: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.big-dream{
    font-size: 40px;
}
.dream-area{
    padding-top: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.span-big{
    color: red;
}
P{
    color: dimgray;
}
.full-stack{
    color: blue;
}
.h3-experience{
    color: orange;
}
.h2-align-center{
    margin-left: 40%;
}
.latest-pic{
    background-image: url("image/latest-work-bg.png");
    float: left;
    width: 31.3%;
    margin-left: 5px;
    padding: 2px;
    display: flex;
    padding-bottom: 30px;
}